{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    <a class="btn btn-warning" href="{{ path('categorias_index') }}">Regresar</a>
{{ form_end(form) }}
