{% extends 'base.html.twig' %}

{% block title %}Edit Categorias{% endblock %}

{% block body %}
    <h1>Edit Categorias</h1>

    {{ include('categorias/_form.html.twig', {'button_label': 'Actualizar'}) }}



{% endblock %}
