{% extends 'base.html.twig' %}

{% block title %}listado de categorias{% endblock %}

{% block body %}
<br><br><br>
    <h1 style="text-align: center;">Listado de categorias</h1>
<br><br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Codigo</th>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">Descripcion</th>
                <th style="text-align: center;">Activo</th>
                <th style="text-align: center;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td style="text-align: center;">{{ categoria.id }}</td>
                <td style="text-align: center;">{{ categoria.codigo }}</td>
                <td style="text-align: center;">{{ categoria.nombre }}</td>
                <td style="text-align: center;">{{ categoria.descripcion }}</td>
                <td style="text-align: center;">{{ categoria.activo ? 'Si' : 'No' }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-warning  " href="{{ path('categorias_edit', {'id': categoria.id}) }}">Editar</a>
                      {% if categoria.activo == 1 %}
                    <a class="btn btn-danger inactivar " data-categoria_id="{{categoria.id}}" >Inactivar</a>
                      {% else %}

                      <a class="btn btn-success activar " data-categoria_id="{{categoria.id}}" >Activar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info btn-sm " href="{{ path('categorias_new') }}">Crear categoria</a>
    <a class="btn btn-success btn-sm " href="{{ path('product_index') }}">Ir a productos</a>
    <script type="text/javascript">
    $(document).on("click",".activar", function () {
      var categoria_id = $(this).data("categoria_id");

          $.ajax({
             type: "POST",
             data: {categoria_id: categoria_id},
             url: "{{ path('activar_categoria') }}",
             success: function (response) {
                 alert("Categoria activada!!");
                 window.location.href = '{{ path("categorias_index") }}'

            }
         });
     });

     $(document).on("click",".inactivar", function () {
          var categoria_id = $(this).data("categoria_id");
           $.ajax({
              type: "POST",
              data: {categoria_id: categoria_id},
              url: "{{ path('inactivar_categoria') }}",
              success: function (response) {
                  alert("Categoria inactivada!!");
                  window.location.href = '{{ path("categorias_index") }}'

             }
          });
      });
    </script>

{% endblock %}
