<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Estás seguro de querer eliminar este producto?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
