{% extends 'base.html.twig' %}

{% block title %}Listado de productos{% endblock %}

{% block body %}
<br><br><br>
    <h1 style="text-align: center;">Listado de productos</h1>
    
<br><br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Codigo</th>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">Descripcion</th>
                <th style="text-align: center;">Marca</th>
                <th style="text-align: center;">Categoria</th>
                <th style="text-align: center;">Precio</th>
                <th style="text-align: center;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td style="text-align: center;">{{ product.id }}</td>
                <td style="text-align: center;">{{ product.codigo }}</td>
                <td style="text-align: center;">{{ product.nombre }}</td>
                <td style="text-align: center;">{{ product.descripcion }}</td>
                <td style="text-align: center;">{{ product.marca }}</td>
                <td style="text-align: center;">{{ product.categoria.nombre }}</td>
                <td style="text-align: center;">{{ product.precio }}</td>
                <td style="text-align: center;">
                    {{ include('product/_delete_form.html.twig') }}
                    <a class="btn btn-warning  " href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info btn-sm " href="{{ path('product_new') }}">Crear producto</a>
    <a class="btn btn-success btn-sm " href="{{ path('categorias_index') }}">Ir a categorias</a>

</a>
{% endblock %}
