{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}

<h1 >Nuevo Producto</h1>
<div class="container">
         {{ include('product/_form.html.twig') }}
     
</div>


{% endblock %}
