{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ product.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ product.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ product.descripcion }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ product.marca }}</td>
            </tr>
            <tr>
                <th>Categoria_id</th>
                <td>{{ product.categoriaId }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ product.precio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
